<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>CD発売日リマインドサービス</h1>
        <% unless logged_in? %>
          <%= link_to '登録', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<h1>説明1</h1>
<h1>説明2</h1>
<h1>説明3</h1>